%div{ class: "#{container_class}" }
  = render Pajamas::AlertComponent.new(variant: variant,
        alert_options: { class: 'js-user-over-limit-free-plan-alert', data: alert_data },
        title: alert_attributes[:title],
        close_button_options: { data: close_button_data }) do |c|
    = c.body do
      = alert_attributes[:body]
    = c.actions do
      = alert_attributes[:primary_cta]
      = alert_attributes[:secondary_cta]
